<body  class=" " style="" lang="fr">
  <header>
    <title>Base territoriale - SIG Loire</title>

    <link rel="stylesheet" href="https://base-territoriale.sigloire.fr/squelettes/assets/css/slick/slick.css"> 
    <link rel="stylesheet" href="https://base-territoriale.sigloire.fr/squelettes/assets/css/slick/slick-theme.css">
    <link rel="stylesheet" href="https://base-territoriale.sigloire.fr/squelettes/assets/css/animate.css">
    <link rel="stylesheet" href="https://base-territoriale.sigloire.fr/squelettes/assets/css/iconfont.css">
    <link rel="stylesheet" href="https://base-territoriale.sigloire.fr/squelettes/assets/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://base-territoriale.sigloire.fr/squelettes/assets/css/style.css?v=3">
    <link rel="stylesheet" href="https://base-territoriale.sigloire.fr/squelettes/assets/css/custom-v2.css">


  </header>
  <style>
  @page {
    size: A4;
    margin: 0;
  }
  table {
    size: A4;
    margin: 0;
  }
  @media print {
    html, body {
      width: 210mm;
      height: 297mm;
    }
    /* ... the rest of the rules ... */
  }
  </style>
  <body >

    <div class="container"> 
      <img src="https://base-territoriale.sigloire.fr/squelettes/assets/images/sigloire/PREFETEPDL.jpg"  style="width:54x; height:70px" alt="">
      <img src="https://base-territoriale.sigloire.fr/squelettes/assets/images/sigloire/logo-sigloire-bleu-light.png" style="width:279px; height:70px" class="logo" alt="">
    </div> 

    <section class="home fix ">
      <div class="container">
        <div class="title   " >
          <h1 class="text-white  " style="text-align: center" >Base Territoriale</h1>
        </div>
      </div>
    </section> 
    <div>
      <a class="navbar-brand" href="#brand">
        
      </a>
    </div>

    <div>
      <h2 class="text-uppercase">
        <strong>Résulat : </strong> {{communes | length}} communes
      </h2>
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Communes</th>
            <th>EPCI</th>
            <th>SCOT</th>
            <th>Département</th>
          </tr>
        </thead>
        <tbody>
        {% for commune in communes %}
          <tr>
            <td>{{ commune["commune"] }}</td>
            <td>{{ commune["nom_epci"] }}</td>
            <td>{{ commune["nom_scot"] }}</td>
            <td>{{ commune["nom_dep"] }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    <div id="" class="panel-group" >
      {% for theme in themes %} 
      <div class="panel panel-transp" >
        <h2 class=" couleur_theme" style="color:{{style.h2Color}}">
          <strong class="couleur_theme" ><i class="couleur_theme fa fa-minus "></i> {{ theme.name}} </strong>
        </h2>
        <div >
          {% for sousTheme in theme.children %}
          <div class="list-item m-top-40" >
            {% if donnees[ sousTheme.id ] is defined %}
              <h3 class="icon-arrow" > {{ sousTheme.name }}</h3>
              {%  for donnee in donnees[ sousTheme.id ] %}
              <h4 class="icon-arrow" > {{ donnee.nom_couche }} </h4>
              <table class="table table-stripped m-b-0" style="width: 100%" >
                <thead>
                  <tr>
                    {%  for champ in donnee.champs %}
                    <th style="width: {{ 100.0 / (donnee.champs | length) }}%" >{{champ.alias }}</th>
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                  {%  for objet in donnee.objets %}
                    {% if simplify == false %}
                    <tr>
                      <td colspan="{{donnee.champs | length}}">
                        <strong class="text-bluedark">{{ communes[objet.insee].commune }} </strong>
                      </td>
                    </tr>
                    {% endif %}
                  <tr>
                    {%  for champ in donnee.champs %}
                      <td> {{ objet.champs[champ.nom].valeur }} 
                    {% endfor %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              {% endfor %}
            {% endif %}
          </div>
          {% endfor %}
        </div>
      </div>  
      {% endfor %}
    </div>  
  </body>
</html>