<body  class=" " style="" lang="en"><!--<![endif]-->
  <header>
    <meta charset="utf-8">
    <title>Base territoriale - SIG Loire</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="icon" type="image/png" href="favicon.ico"> -->

    <!--Google Font link-->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">


    <link rel="stylesheet" href="https://base-territoriale.sigloire.fr/squelettes/assets/css/slick/slick.css"> 
    <link rel="stylesheet" href="https://base-territoriale.sigloire.fr/squelettes/assets/css/slick/slick-theme.css">
    <link rel="stylesheet" href="https://base-territoriale.sigloire.fr/squelettes/assets/css/animate.css">
    <link rel="stylesheet" href="https://base-territoriale.sigloire.fr/squelettes/assets/css/iconfont.css">
    <link rel="stylesheet" href="https://base-territoriale.sigloire.fr/squelettes/assets/css/font-awesome.min.css">
    
   <!-- <link rel="stylesheet" href="https://base-territoriale.sigloire.fr/squelettes/assets/css/bootstrap.css"> -->
    <link rel="stylesheet" href="https://base-territoriale.sigloire.fr/squelettes/assets/css/magnific-popup.css">

    <link rel="stylesheet" href="https://base-territoriale.sigloire.fr/squelettes/assets/css/bootsnav.css">

    <!-- xsslider slider css -->


    <!--<link rel="stylesheet" href="https://base-territoriale.sigloire.fr/squelettes/assets/css/xsslider.css">-->
    <!--For Plugins external css-->
    <!--<link rel="stylesheet" href="https://base-territoriale.sigloire.fr/squelettes/assets/css/plugins.css" />-->
    <link rel="stylesheet" type="text/css" href="https://base-territoriale.sigloire.fr/squelettes/assets/js/DataTables/datatables.min.css">
    <link rel="stylesheet" type="text/css" href="https://base-territoriale.sigloire.fr/squelettes/assets/js/jqTree/jqtree.css">


    <!--Theme custom css -->
    <link rel="stylesheet" href="https://base-territoriale.sigloire.fr/squelettes/assets/css/style.css?v=3">
    <link rel="stylesheet" href="https://base-territoriale.sigloire.fr/squelettes/assets/css/custom-v2.css">

    <!--Theme Responsive css-->
    <link rel="stylesheet" href="https://base-territoriale.sigloire.fr/squelettes/assets/css/responsive.css">
    <link rel="stylesheet" href="{{ absolute_url(asset('/bundles/bdcom/css/test.css' )) }}"> 

<!--     <script src="https://base-territoriale.sigloire.fr/squelettes/assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script> -->
  </header>
  <body >
    <!-- Preloader -->
    <div id="loading">
      <div id="loading-center">
        <div id="loading-center-absolute">
          <div class="object" id="object_one"></div>
          <div class="object" id="object_two"></div>
          <div class="object" id="object_three"></div>
          <div class="object" id="object_four"></div>
        </div>
      </div>
    </div>
    <!--End off Preloader -->

    <div class="culmn bg-white">
      <!--Home page style-->
      <nav class="navbar navbar-default bootsnav navbar-fixed">
        <!-- Start Top Search -->
        <div class="top-search">
          <div class="container">
            <form action="#" method="post">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input class="form-control" placeholder="Rechercher" type="text">
                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
              </div>
            </form>
          </div>
        </div>
        <!-- End Top Search -->


        <div class="container"> 
          <!-- Start Header Navigation -->
          <div class="navbar-header">
         <!--   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
              <i class="fa fa-bars"></i>
            </button> -->
            <a class="navbar-brand" href="#brand">
              <img src="https://base-territoriale.sigloire.fr/squelettes/assets/images/sigloire/PREFETEPDL.jpg" class="marianne  pull-left" alt="">
              <img src="https://base-territoriale.sigloire.fr/squelettes/assets/images/sigloire/logo-sigloire-bleu-light.png" style="text-align: center; margin: auto"  class="logo" alt="">
            </a>
          </div>
          <!-- End Header Navigation -->

          <!-- navbar menu -->
          <div class="collapse navbar-collapse" id="navbar-menu">
          </div>
          <!-- /.navbar-collapse -->
        </div> 
      </nav>
    </div>
    <!--Home Sections-->

    <section class="home fix ">
      <div class="container">
        <div class="title   " >
          <h1 class="text-white  " style="text-align: center" >Base Territoriale</h1>
        </div>
      </div><!--End off container -->
    </section> 
    <!--End off Home Sections-->

    <section class="bg-grey">
      <div class="container">
        <div class="row">
          <div class="p-top-20">
            <div class="col-md-12"></div>
          </div>
        </div>
      </div>
    </section>

    <!--Business Section-->
    <section id="business" class="business ">
      <div class="container">
        <div class="row">
          <div class="main_business">                            
            <div class="col-md-12">
              <div class="">
                <h2 class="text-uppercase">
                  <strong>Résultat : </strong> {{communes | length}} communes
                </h2>
                <table class="table table-condensed">
                  <thead>
                    <tr>
                      <th>Communes</th>
                      <th>EPCI</th>
                      <th>SCOT</th>
                      <th>Département</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for commune in communes %}
                    <tr>
                      <td>{{ commune["commune"] }}</td>
                      <td>{{ commune["nom_epci"] }}</td>
                      <td>{{ commune["nom_scot"] }}</td>
                      <td>{{ commune["nom_dep"] }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>


                <!-- Seconde partie  -->
                <div id="" class="panel-group" >
                  {% for theme in themes %} 
                  <div class="panel panel-transp">
                    <h2 class=" couleur_theme">
                      <strong class="couleur_theme" ><i class="couleur_theme fa fa-minus "></i> {{ theme.name}}</strong>
                    </h2>
                    <div >
                      {% for sousTheme in theme.children %}
                      <div cclass="list-item m-top-40" >
                        {% if donnees[ sousTheme.id ] is defined %}
                          <h3 class="icon-arrow" > {{ sousTheme.name }}</h3>
                          {%  for donnee in donnees[ sousTheme.id ] %}
                          <h4 class="icon-arrow" > {{ donnee.nom_couche }} </h4>
                          <table class="table table-stripped m-b-0" style="width: 100%" >
                            <thead>
                              <tr >
                                {%  for champ in donnee.champs %}
                                <th style="width: {{ 100.0 / (donnee.champs | length) }}%" >{{champ.alias }}</th>
                                {% endfor %}
                              </tr>
                            </thead>
                            <tbody>
                              {%  for objet in donnee.objets %}
                                {% if simplify == false %} 
                                <tr>
                                  <td colspan="{{donnee.champs | length}}">
                                    <strong class="text-bluedark">{{ communes[objet.insee].commune }} </strong>
                                  </td>
                                </tr> 
                                {% endif %}
                              <tr>
                                {%  for champ in donnee.champs %}
                                  <td> {{ objet.champs[champ.nom].valeur }} 
                                {% endfor %}
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                          {% endfor %}
                        {% endif %}
                      </div>
                      {% endfor %}
                    </div>
                  </div>  
                  {% endfor %}
                </div>   
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>