{% set startScriptTag %}
<script type="text/javascript">
{% endset %}
(function(){
  'use strict'

  var menus = JSON.parse('{{menus}}'); 
  var casUrl = '{{cas_url}}'

  // PLACER ICI LES MODELS À CHARGÉE
  var Entity = [
    'Bdcom.model.Champ',
    'Bdcom.model.Contenu',
    'Bdcom.model.Jointure',
    'Bdcom.model.Dico',
    'Bdcom.model.Lot',
    'Bdcom.model.Theme',
    'Bdcom.model.ReferentielRecherche',
    'Bdcom.model.ReferentielIntersection',
    'Bdcom.model.ReferentielCarto',
    'Bdcom.model.Prodige',
    'Bdcom.model.DataSerie',
    'Bdcom.model.Rapport',
    'Bdcom.model.Profile',
    'Bdcom.model.Scheduler',
    'Bdcom.model.Report'
  ];

  var JsForLoad = [
    'Bdcom.components.ComboDico',
    'Bdcom.commun.Util',
    'Bdcom.controller.CommunCtrl',
    'Bdcom.views.mainPanel', 
    'Bdcom.Application'
  ];

  function initApplication(){
    
    Ext.onReady(function(){
      var mainPanel = Ext.create('Bdcom.views.mainPanel', {
        renderTo: 'content',
        layout: 'card',
        menus: menus,
        width: '100%',
        casUrl: casUrl
      });

      var bdcomApp = new Application();
      bdcomApp.setMainPanel(mainPanel);

      Ext.application('Bdcom.MainApplication' );

    }) 
  }

  // Chargement des classes principales
  function initLoader(){
    Ext.Loader.setPath('Bdcom', document.location.origin+'/bundles/bdcom/app');
    var requires = Entity.concat(JsForLoad);

    Ext.Loader.require(requires,  initApplication)
  }

  initLoader();

  // Navigation boostrap / jquery
  $(function() {
    //console.log("jquery ready");
    $(".nav a").on("click", function(){
      $(".nav").find(".active").removeClass("active");
      $(this).parent().addClass("active");
    });
  })

})();

{% set stopScriptTag %}
</script>
{% endset %}