{# Fonction twig pour construire un menu de navigation bootstrap #}
{% macro buildNavbar(menus, level)%}
<div id="navbar" class="panel-group navbar-collapse collapse" width="100%" >
  <div class="panel panel-default">
    <div class="panel-heading" data-toggle="collapse" data-parent="#navbar" href="#collapse-0"aria-expanded="true" >
      <h4 class="panel-title"> Menus </h4>
    </div>
    <div id="collapse-0" class="panel-collapse collapse in ">
      <div class="panel-body">
        <ul class="nav nav-pills nav-stacked" role="tablist">
          {% for itemId, item in menus %}
            <li id="nav-{% if (item.route is defined ) %} {{item.route}}{% endif %}" role="button" class="nav  {% if (item.active is defined ) %}  {% endif %}">
              <a  class="menu dropdown-toggle" {% if (item.route is defined ) %} href="#nav-{{ item.route }}" {% endif %}{% if(item.href is defined) %} href="{{ item.href }}"{%  endif %}>
                {{ item.title | raw }} 
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endmacro %}

