<style type="text/css">
*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
div#summary { 
  display:none; 
}
div.header {
  padding: 10px; 
}
div.header h2, h3 { 
  font-weight: bold; 
}
pre { 
  font-size: 10px; 
}
code { 
  font-size: 10px; 
}
.row { 
  margin-left: -10px; margin-right: -10px; 
}
.row::after { 
  clear: both; content: " "; 
  display: table; 
}
.col { 
  float: left; 
  position: relative; 
  padding-left: 10px; 
  padding-right: 10px; 
}
</style>

<div class="header">
  <div class="row">
    <div class="col" style="width:100%;">
      <h2>Entêtes acceptées</h2>
      <p>Les entêtes suivantes sont acceptés : <br/><code>Content-Type</code>, <code>Content-Disposition</code>, <code>X-Requested-With</code>.</p>

      <h2>CORS</h2>
      <p>Les entêtes CORS sont systématiquement renvoyées dans chaque réponse.</p>

      <h2>Format des réponses</h2>
      <p>Toutes les réponses sont renvoyées au format JSON : </p>
      <pre>
      {
        "insee": 44001,
        "commune": "ABBARETZ"
      }</pre>

    </div>

  </div>
</div>
