<title>Base territoriale</title>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="shortcut icon" href="/favicon.ico" />

<link rel="icon" type="favicon/ico" href="/images/logo/favicon.png" />


<!-- Extjs theme css -->
<link rel="stylesheet" href="/vendor/ext-5.1.0-gpl/build/packages/ext-theme-crisp/build/resources/ext-theme-crisp-all.css"/>
<link rel="stylesheet" href="/vendor/ext-5.1.0-gpl/build/packages/ext-charts/build/resources/ext-charts-all.css"/>

<!-- Bootstrap -->
<link rel="stylesheet" href="/vendor/bootstrap-3.3.7/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/vendor/bootstrap-3.3.7/css/bootstrap-theme.min.css"/>

<!-- fonts -->
<link rel="stylesheet" href="/vendor/components-font-awesome/css/font-awesome.min.css"  type='text/css' >


<!-- Style -->
<link rel="stylesheet" href="{{ asset('/bundles/bdcom/css/styles.css') }}" >

<script src="/vendor/jquery/dist/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script type="text/javascript" src="/vendor/bootstrap-3.3.7/js/bootstrap.min.js"></script>

<!-- ExtJS -->
{% if app.environment == 'dev' %}
<script type="text/javascript" src="/vendor/ext-5.1.0-gpl/build/ext-all-debug.js"></script>
<script type="text/javascript" src="/vendor/ext-5.1.0-gpl/build/packages/ext-charts/build/ext-charts-debug.js"></script>
{% else %}
<script type="text/javascript" src="/vendor/ext-5.1.0-gpl/build/ext-all.js"></script>
<script type="text/javascript" src="/vendor/ext-5.1.0-gpl/build/packages/ext-charts/build/ext-charts.js"></script>
{% endif %}
<script type="text/JavaScript" src="/vendor/ext-5.1.0-gpl/build/packages/ext-locale/build/ext-locale-fr.js"></script>

<!-- fosRouting -->
<script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script type="text/javascript" src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

<!-- alk-polyfills -->
<!--- <script type="text/javascript" src="/vendor/alk-polyfills/array-find.js"></script>
<script type="text/javascript" src="/vendor/alk-polyfills/date-toJSON.js"></script>
<script type="text/javascript" src="/vendor/alk-polyfills/function-name.js"></script>
<script type="text/javascript" src="/vendor/alk-polyfills/localStorage-clearDB.js"></script>
<script type="text/javascript" src="/vendor/alk-polyfills/number-isnan.js"></script>
<script type="text/javascript" src="/vendor/alk-polyfills/object-create.js"></script>
<script type="text/javascript" src="/vendor/alk-polyfills/object-values.js"></script>
<script type="text/javascript" src="/vendor/alk-polyfills/object-watch.js"></script>
<script type="text/javascript" src="/vendor/alk-polyfills/string-repeat.js"></script>
<script type="text/javascript" src="/vendor/alk-polyfills/window-localStorage.js"></script> -->


<!-- Application Bdcom  Extjs -->
<script id="BdcommRoute_script" src="https://{{ app.request.getScheme() ~ path('bdcom_app.js', {"callback": "fos.Router.setData"}) }}"></script>
