{% import "BdcomBundle:default:menus.macros.twig" as menus %}
<html>
  <head>
    {% include "BdcomBundle:default:headers.html.twig" %}
  </head>
  <body>
    <header>
      <div id="topbar"  class="row">
        <div class="text-center header-title">  PRODIGE Base territoriale </div>
      </div>
    </header>
    <!--- Debut  -->
    <div class="row content">
       
      <nav id="nav" class="navbar navbar-bdcom col col-sm-2 col-md-2 col-lg-2">
        <div class=" container container-fluid col col-lg-12">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand visible-xs" href="#"></a>
          </div>
             {{  menus.buildNavbar(sitemenus) }}
        </div>

      </nav>
      <div id="content" class="col col-sm-9 col-lg-9 body-content">
      </div>
    </div>
    <!-- FIN -->
  </body>
</html>



