body {
  font-family: 'Open Sans', sans-serif !important;
  background-color: #fff!important;
  font-size: 14px!important;
}
header {
  position: relative;
}
#topbar {
  background-color:  #fff; /*#dbeef4;*/
  /*position: absolute;*/
  z-index: 1;
  width: 100%;
  top: 0px;
  left:0px;
  padding: 5px 0px;
  font-size: 13px;
}
#topbar ul {
  margin-bottom: 0px;
}

#topbar .container {
  position: relative;
}
#topbar-menu a {
  padding: 3px 5px;
}
#topbar-menu a:hover {
  background-color: #eee;
  border-radius: 6px;
  text-decoration: none;
}

.header-title {
  /*background: url(images/banniere/vague.png) no-repeat top left; */
  /*position : absolute;
  z-index: 2;
  top: -5px;*/
  /*bottom: 0px;*/
  left: 15px; /* comme le padding du container */
  width: auto;
  color: #337ab7;
  padding : 10px;
  
  font-size: 2em;
  line-height: 1.2em;
  height: auto;
}
#header-title a {
  /*position : absolute;*/
  width: 350px; /*450px;*/
  display: block;
  /*top: 50px;
  left: 0px;*/
}
@media (max-width: 768px) {
  #header-title a {
  width: 200px;
  }
}



#slider {
  background-color: #07649e;
  /*background: url(images/logo/logo-especes.png) repeat-x;
  background-size: 30%;*/
}
/*#slider .container {
  position: relative;
}*/
@media (min-width: 992px) {
  #slider .carousel-inner {
    max-height: 400px; /*450px*/
  }
  #slider .carousel-inner>.item { margin-top: -50px;}
}
#slider .carousel-inner>.item>a>img, #slider .carousel-inner>.item>img {
  min-width: 100%;
}

.lightbox { display: none; }       


#nav.affix {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*#nav > .navbar-inner {
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
}*/

.navbar.navbar-bdcom {
  border: 0px solid;
  border-radius: 0px;
  margin-bottom: 0px
}
@media (min-width: 992px) {
  .navbar.navbar-bdcom .navbar-nav {
      display:table;
      width:100%;
      margin: 0;
  }
  .navbar.navbar-bdcom .navbar-nav > li {
      float:none;
      display:table-cell;
      text-align:center;
  }
}
.navbar-bdcom .navbar-toggle:focus, .navbar-bdcom .navbar-toggle:hover {
  background-color: #dbeef4;
}
.navbar-bdcom .navbar-toggle {
  background-color: #fff;
  border-color: #fff;
}
.navbar-bdcom .navbar-toggle .icon-bar {
  background-color: #009cc9;
}

.navbar-bdcom .navbar-nav>li>a {
  color: #fff;
  font-family: 'spotkaboldregular';
  font-size: 1.1em;
  text-transform: uppercase;
  display: block;
}
.navbar-bdcom .navbar-nav>li>a>.fa {
  line-height: 1.3;
}

.navbar-bdcom .navbar-nav>li#nav-saisie>a {
  background-color: #92D050;
}
.navbar-bdcom .nav .open>a, .navbar-bdcom .nav .open>a:focus, .navbar-bdcom .nav .open>a:hover,
.navbar-bdcom .nav>li>a:focus, .navbar-bdcom .nav>li>a:hover {
  text-decoration: none;
  background-color: #c2a260;
}

.navbar-bdcom .navbar-brand {
  padding: 5px;      
}
.navbar-bdcom .navbar-brand img {
  height: 100%;
}

@media (max-width: 767px) {
  .navbar-bdcom .navbar-nav li  a { text-align: center }
  .navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu>li>a {
    color: #fff;
  }
}

#content {
  min-height: 400px;			
}

#content .container.pb { padding-bottom: 40px; }

#content h1  {
  font-family: 'spotkaboldregular';
  font-size: 3em;
  margin: 60px 0 30px 0;
  /*padding-bottom: 15px;
  background: url("../images/banniere/ondulation-sous-titre.png") no-repeat bottom left;			
  background-size: 200px;*/
}

#content h2 {
  font-family: 'spotkaboldregular';
  color: #07649e;
  letter-spacing: -0.03em;
  margin: 50px 0 20px 0;
}

#content h2.underline {
  border-bottom: 2px solid #07649e;
  padding-left: 20px;
}

#content h2.firstletter:first-letter {
  /*font-size: 200%;*/
  color: #fff;	
  background-color: #07649e; /*#92D050;*/
  padding: 5px 15px;
  margin-right: 8px;
}	
/*#content h2.firstletter:before {
  content: "";
  width: 50px;
  height: 50px;
  background-color: #92D050;
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle;
}*/

#content h3 {
  font-family: 'Open sans';
  color: #07649e;
}
#content title {
  font-family: 'Open sans';
  color: #C03000;
}
#content h4.categorie {
  font-family: 'Open sans';
  color: #88d0dd;
  font-size: 0.9em;
}
#content h3 + h4.categorie {
  margin-top: -5px;
}

#content img {
  max-width: 100%;
}
#content img.pull-left {
  margin-right: 15px;
}

#content .well {
  border-radius: 0px;
  margin: 30px 0;
}

#content section:last-child {
  padding-bottom: 40px;
}

#content ul li, #content ol li  {
  margin-bottom: 5px;
}
#content ul li ul li, #content ol li ol li {
  margin-bottom: auto;
}

#content ol.custom-counter {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#content ol.custom-counter > li {
  counter-increment: step-counter;
  margin-bottom: 15px;
}
#content ol.custom-counter > li::before {
  content: counter(step-counter);
  margin-right: 10px;
  font-size: 80%;
  background-color:#07649e;
  color: white;
  font-weight: bold;
  padding: 3px 8px;
  border-radius: 11px;
}
#content ol.custom-counter > li > ul {
  margin-top: 10px;
}


#content .bloc {
  position: relative;
}
#content .bg-white {
  background-color: #fff;
}
#content .bg-green {
  background-color: #92D050; 
  color:#fff;
  padding: 30px 0;
  font-size: 1.7em; 
  line-height: 1.3em;
}
#content .bg-grey {
  background-color: #dbeef4; 	      		
}
#content .bg-light-grey {
  background-color: #f5f5f5; 
}

#content .pb40 { padding-bottom: 40px; }


/** Encart **/ 
#content .encart {
  background-color: #eee;
  padding: 15px;
  margin: 40px 0px;
}   

#content .encart h3 {
  font-family: 'spotkaboldregular';
  color: #07649e;
  margin-top: 0px; 
}
#content .encart > h3 {
  margin-top: 0px;
}
#content .encart a:hover {
  text-decoration: none;
}
#content .encart a span {
  margin-top: 10px;
  display: block;
  color: #0c0c0c;
}
#content .encart a:hover span {
  color: #07649e;
}

#content .encart .flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  /*-webkit-flex-flow: row wrap;*/
  justify-content: space-around;
}

#content .encart .flex-item {
  padding: 15px;
  margin-top: 10px;
}

@media (max-width: 768px) {
  #content .encart .flex-item {
    width: 200px;
  }
}

@media (max-width: 480px) {
  #content .encart .flex-item {
    width: 50%;
  }
}

@media (min-width: 769px) {
  #content .encart .flex-item {
    flex: 1;
  }
}




/** Quizz **/
.radio_success .x-form-cb-label {font-weight: bold;color:red;}

.radio_success {
    color: red;
}

.test{
    background-color: red;
}

#content .quizz .radio boxLabel {
  font-weight: bold;
}

#content .quizz-timer {
  background-color: #07649e;
  color: #fff;
  padding: 8px 10px;
  display: inline-block;
  font-size: 2em;
  margin-bottom: 15px;
}
#content .quizz-timer.orange { background-color: #ff9800; }
#content .quizz-timer.red { background-color: #f44336; }

#content .quizz .btn-success {
  margin-top: 30px;
  background-color: #92D050;
  border-color: #92D050;
  background-image: none;
  border-radius: 0px;
  text-shadow: none;
  box-shadow: none;
  text-shadow: none;
  -webkit-box-shadow: none;
}

#content .quizz .btn-success:focus, #content .quizz .btn-success:hover {
  background-color: #70a835;
}


/**************************************************/
/* infographie accueil */
/**************************************************/
#infographie {
  margin: 20px 0;
}
#infographie .infographie-inner{
  position: relative; 
  display: inline-block;
}
#infographie .button {
  position: absolute;
  background-color: #92d050;
  opacity: 0.8;
  padding: 5px 10px;
}
#infographie .button:hover {
  background-color: #07649e;
  text-decoration: none;
}

#infographie .button:hover a {
  text-decoration: none;
}
#infographie .button-inner {
  color: #07649e;
  font-size: 1.6em;
  line-height: 1.2em;
  font-family: 'spotkaboldregular', sans-serif;
}
#infographie .button:hover .button-inner {
  color: #92d050;
}
#button-apprendre {
  bottom: 20px;
  left: 40px;
}
#button-saisir {
  bottom: 15px;
  left: 360px;
}
#button-consulter {
  bottom: 20px;
  right: 10px;
}

@media (max-width: 768px) {
  #infographie .button {
    position: relative;
    margin-bottom: 15px; 
  }
  #button-apprendre, #button-saisir, #button-consulter {
    bottom: auto;
    left: auto;
    right: auto;
  }
}


/**************************************************/
/* Actus accueil */
/**************************************************/
#actus h2 {
  background: url(images/banniere/ondulation-sous-titre.png) no-repeat center bottom transparent;
  /*padding-bottom: 20px;*/
  margin: 40px 0 10px 0;			
}
#actus h3 {
  font-size: 1.6em;
  line-height: 1.2em;
  color: #009cc9 /*#92D050*/;
}


/**************************************************/
/* photo et carte du mois */
/**************************************************/
#background {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50%;
  height: 100%;
  /*background-color: #b6e0e6;*/
  z-index: 0;
}

#photo h2, #carte h2 {
  margin-top: 20px;
}

div.photo {
  max-height: 350px;
  overflow: hidden;
  position: relative;
}
div.photo img {
  width: 100%;
}
p.legende{
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  margin-bottom: 0px; 
  padding: 15px;
}
p .espece {
  display: block;
  font-size: 1.1em;
}
p .auteur {
  display: block;
  color: #dbeef4;
  font-size: 0.9em;
}



/**************************************************/
/* Bilan des observations  catalogue des espèces */
/*************************************************/
.buttonEspece a {
  display: block;
  background-color: #07649e;
  color: #fff;
  padding: 70px 10px 10px 10px;		
  background-position: 50% 15px;
  background-repeat: no-repeat;
  min-height: 115px;
  text-decoration: none;
  margin-bottom: 10px;
}
.buttonEspece a:hover {
  background-color: #92D050;
  text-decoration: none;
}
#buttonMamMarins.buttonEspece a {
  background-image: url(../images/grandefamilles/picto/mammiferes_marins.png);
}	
#buttonEspEnvahissante.buttonEspece a {
  background-image: url(../images/grandefamilles/picto/especes_envahissantes.png);
}
#buttonTortueMarine.buttonEspece a {
  background-image: url(../images/grandefamilles/picto/tortues_marines.png);
}
#buttonRequin.buttonEspece a {
  background-image: url(../images/grandefamilles/picto/requins.png);
}
#buttonRaie.buttonEspece a {
  background-image: url(../images/grandefamilles/picto/raies.png);
}
#buttonPoisson.buttonEspece a {
  background-image: url(../images/grandefamilles/picto/poissons.png);
}


#content h2.counter {
  padding: 8px 0px 0px 60px;
  position: relative;
}
#content span.counter {
  background-color: #92D050;
  padding: 5px 18px 10px;
  color: #fff;
  position: absolute;
  top: 0px;
  left: 0px;      
}

#nomCommunCat { margin-bottom: 2px; }
#nomScientifiqueCat { font-style: italic; margin-top: 2px; }

#selectEspeceCat { margin-top: 20px; }

.illustration { position: relative; }
.illustration #iucnCat {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100px;
  height: auto;
}
.illustration #iucnCat img { width: 100%; }

#content p.caracteristique {
  overflow: hidden;
  padding-left: 80px;
}
#content p.caracteristique img.icone {
  width: 60px;
  float: left;
  margin-left: -80px;
}
#content p.caracteristique span {
  padding-top: 20px;
}

#content .infoplus {
  border-radius: 8px;
  background: url(../images/pictosconsultation/anecdote.png) top left no-repeat #2db8c5;
  padding: 15px;
  color: #fff;
}
#content .infoplus h3 {
  padding-left: 100px;
  margin: 0px 0px 30px 0px;
  color: #fff;
  font-weight: bold;
}

#content .diaporama a {
  display: block;
  overflow: hidden;
  height: 75px;
}
#content .diaporama .row { margin-bottom: 15px }
#content .diaporama .row:last-child { margin-bottom: 0px }

#content .canvasContainer { height: 350px;}

#mapObs { height: 100%; }

#content .btn.btn-catalogue { 
  padding: 20px 0px; 
  /*font-size: 1.2em;*/ 
  padding: 20px 0px;
  background-color: #eee;
  border-radius: 0px;
}
#content .btn.btn-catalogue span.fa { font-size: 2em;  display: block; }
#content .btn.btn-catalogue .x-btn-inner-default-medium { 
  font-size: 1em; 
  color: #07649e;
  font-family: 'Open Sans', sans-serif !important; 
  font-weight: normal;
  white-space: normal;
}

#catalogueEspeceForm .x-form-item-body {
  display: block;
}

/***********************************/
/* footer */
/***********************************/  

footer {
  background-color: #1b619c;
  /*background: url(images/banniere/bg-footer.png) no-repeat top left #1b619c;*/
  min-height: 80px;
  color: #fff;      
}
footer #footer-content {
  padding: 20px 0;
}
footer #footer-content h3 {
  margin-top: 0;
  font-family: 'spotkaboldregular';
  color: #b6e0e6;
}
footer #footer-content .footer-logo img {
  height: 80px;
  /*max-height: 90px;
  max-width: 150px;*/
}
footer #footer-content .footer-logo a {
  margin-left: 20px;
}
footer #footer-content .footer-logo a:first-child {
  margin-left: 0px;
}
footer #footer-content .footer-social a {
  display: inline-block;
  background-color: #fff;
  color: #1b619c;
  font-size: 1.7em;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 10px;
  text-align: center;
}
footer #footer-content .footer-social a:hover {
  background-color: #005488;
  color: #fff;
}

footer #footer-copyright {
  background-color: #005488;
  padding: 10px 0;
}
footer #footer-copyright p {
  margin: 0;
  padding: 0;
}
footer #footer-copyright a {
  color: #dbeef4;
}
footer #footer-copyright a:hover {
  color: #fff;
}

#top-link-block.affix-top {
  position: absolute; /* allows it to "slide" up into view */
  bottom: -82px; /* negative of the offset - height of link element */
  left: 10px; /* padding from the left side of the window */
}
#top-link-block.affix {
  position: fixed; /* keeps it on the bottom once in view */
  bottom: 18px; /* height of link element */
  left: 10px; /* padding from the left side of the window */
}

#toTop {
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  display: none;
  background-color: #005488;
  color: #fff;
  padding: 8px 10px;
  font-size: 1.7em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#toTop:hover {
  background-color: #1b619c;
}
/* footer*/
.FOOTsoustitre {
  color: #07649e !important;
  font-weight: bold !important;
}
.FOOTtexte {
  font-family: "Calibri" !important;
  font-size: 14px !important;
}
.FOOTwindow{
  color: #07649e !important;
  font-weight: bold !important;        
}
.bdcom-tree-color-icon {
  margin-right: 4px;
  color: #009cc9;
}

.grey-background {
  background-color: #858585bb;
}
.blue-background {
  background-color: #ff2a2a8f;
}

#comboCutting, #lotTampon, #mappingInsee, #mappingField, #themeIcon {
  display: inline-block;
}

#comboCutting-bodyEl, #lotTampon-bodyEl, #mappingInsee-bodyEl, #mappingField-bodyEl, #themeIcon-bodyEl {
  width: 100%;
}

#mappingInsee-button-btnWrap {
  height: auto;
}

#cuttingHelp, #bufferHelp, #mappingHelp, #mappingFieldHelp, #iconHelp {
  margin-left: 10px;
}