/** Css pour html2pdf **/

.couleur-blue {
  background-color: #16324d !important;
}

.couleur_theme{
  color: #337ab7 !important;
  font-size: 14px;
} 

td {
  font-size: 8px;
}
th {
  font-size: 9px;
}
h1 {
  font-size: 16px;
}
h2 {
  font-size: 14px;
}
h3 {
  font-size: 12px;
}
h4 {
  font-size: 10px;
}
